/* ==== Universal Styles ==== */

* {
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif; /* Available Lato weights: 400 & 900 */
    text-align: center;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 4em;
}


/* ==== Utilities & Components ==== */

.thin-xm {
    margin: 0 0.8em;
}

.border {
    border: 2px solid darkgrey;
}


/* ==== Elements ==== */

section.border {
    margin: auto;
    margin-top: 3em;
    max-width: 100%;
    width: 1000px;
}

h1 {
    margin-top: 0;
    padding: 0.8em 0.5em;
    background-color: whitesmoke;
    color: midnightblue;
    font-size: 2.5em;
}